---

---

$tech-black: #252525;
$tech-grey: #b2b2b2;
$tech-white: #ffffff;
$slightly-grey: #f2f2f2;
$tech-accent: #00e59f;
$tech-accent-dark: #00b77f;
$tech-accent-light: #ccf9eb;


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
/*@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');*/

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

html, body, h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  /*font-family: 'Muli', sans-serif;*/
  color: $tech-black;
}
 
h3{
  /*margin-top: 40px;*/
}



a{
  color: $tech-accent-dark;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 2px 5px 2px;
  transition: background-color 0.2s linear, color 0.2s linear;
  &:visited{
    color: $tech-accent-dark;
  }
  &:hover{
    color: $tech-accent-dark;
    text-decoration: none;
    background-color: $tech-accent-light;
    transition: background-color 0.2s linear, color 0.2s linear;
  }
}


a.blackLink {
  color: $tech-black;
  text-decoration: none;
  background-color: transparent;
  &:visited{
    color: $tech-black;
    background-color: transparent;
  }
  &:hover{
    color: $tech-accent-dark;
    text-decoration: none;
    transition: color 0.2s linear;
    background-color: transparent;
  }
}



.post-content h4{
  font-size: 22px;
}

.post-content li{
  margin-bottom: 10px;
}

.page-content{
  margin-left: 10px;
  margin-right: 10px;
}

.section-border {
  border: 1px solid $tech-accent-dark;
}

.section-heading{
  font-size: 30px;
  font-weight: $bold;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .2em;

  a{
    color: $tech-black;
    &:hover{
      text-decoration: none;
      color: $tech-accent-dark;
      background-color: transparent;
      transition: color 0.2s linear;
    }
    &:visited{
      text-decoration: none;
      color: $black
    }
  }
}

.section-subheading{
  font-size: 20px;
  font-weight: $bold;
}

.remoteLearningContainer {
  margin-bottom: 16px;
}

.remoteLearningListStyle {
  font-size: 14px;
}



::selection {
  background: $tech-accent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $tech-accent; /* Gecko Browsers */
}

header{
  
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  .site-title{
    font-size: 48px;
    font-weight: $bold;
    color: $tech-black;
    background-color: transparent;
    transition: color 0.2s linear;
    &:visited {
      color: $tech-black;
      background-color: transparent;
    }
    &:hover {
      color: $tech-accent-dark;
      background-color: transparent;
      transition: color 0.2s linear;
    }
  }
  
  .nav{
    font-size: 20px;
  }
  
  a:hover{
    text-decoration: none;
    color: $tech-black;
  }
  
  a.nav-item{
    color: $tech-black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    transition: border 0.2s linear; 
  }
  
  a.nav-item:hover{ 
    background-color: white;
    border: 1px solid $tech-accent;
    transition: border 0.2s linear;
  }

  .site-nav{
    top: 30px;
    border: none;
    border-radius: none;
    padding: 10px;
  }
  
}

.thumbnail-tile {
    margin: 0;
    padding: 10px;
}
  .thumbnail-container {
    position: relative;
    height: 100%;
    border: 1px #E8E8E8 solid;
  }
  .thumbnail-image {
    width: 100%;
  }
  .thumbnail-text {
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
/*    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    padding:6px;
    color: $tech-black;
    background-color: rgba(255, 255, 255, .8);
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    font-size: 16px !important;
    text-align: center;
    line-height: 1.2;
  }
  .thumbnail-container:hover .thumbnail-text {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  .thumbnail-container:hover{
    opacity: 1;
    border: 1px $tech-accent solid;
    transform: scale(1.04);
    transition: transform 0.2s linear, border 0.2s linear;
  }
  .thumbnail-container:hover .thumbnail-image {
    transition: opacity 0.1s linear;
    opacity: .5;
  }

.workshop-container{
  
  margin-bottom: 40px;
  
  p{
    padding: 0;
    margin: 0;
  }
  .metadata{
    font-size: 14px;
    font-weight: $light;
    margin-bottom: 5px;
  }
  .workshop-title{
    font-size: 20px;
    font-weight: $bold;
    margin-bottom: 5px;
  }
  .description{
    
  }
  li{
    margin-bottom: 10px;
  }
}

.reference-container{
  
  margin-bottom: 40px;
  
  p{
    padding: 0;
    margin: 0;
  }
  .metadata{
    font-size: 14px;
    font-weight: $light;
  }
  .reference-title{
    font-size: 20px;
    font-weight: $bold;
  }
  .description{
    
  }
  li{
    margin-bottom: 10px;
  }
}


.software-container{
  
  margin-bottom: 40px;
  
  p{
    padding: 0;
    margin: 0;
  }
  .metadata{
    font-size: 14px;
    font-weight: $light;
  }
  .software-title{
    font-size: 20px;
    font-weight: $bold;
  }
  .description{
    
  }
  li{
    margin-bottom: 10px;
  }
}


.registration-container{
  padding: 0px 3px 0px 3px;
  /*margin-left: 10px;*/
  border: 1px solid $tech-black;
  display: inline-flex;
  color: black;
  .registration-text{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3px;
  }
  &:hover{
    background-color: $tech-accent-dark;
    border: 1px solid $tech-accent-dark;
    .registration-text{
      color: white;
    }
  }
}

.post-header{
  margin-left: 0;
}

.post-title{
  font-size: 38px;
  font-weight: $bold;
}

.post-meta{
  font-size: 16px;
}




.post-content{
  
  p{
    font-size: 18px;
  }
  &[itemprop="articleBody"]{
    a{
      color: $tech-accent-dark;
      text-decoration: none;
      font-weight: $bold;
      padding: 5px 2px 5px 2px;
      &:visited{
        color: $tech-accent-dark;
      }
      &:hover{
        color: $tech-accent-dark;
        text-decoration: none;
        background-color: $tech-accent-light;
        transition: background-color 0.2s linear, color 0.2s linear;
      }
    }
  }
}

.where-who{
  font-weight: 300;
  font-size: 10px;
}

.where-who-meta{
  margin-bottom: 0px;
}

.description-meta{
  margin-bottom: 0px;
}

.registration-container-meta{
  padding: 3px 5px 5px 5px;
  margin-left: 10px;
  border: 1px solid $tech-black;
  display: inline-flex;
  
  .registration-text-meta{
    font-size: 20px;
//    line-height: 30px;
  }
  
  &:hover{
    background-color: $tech-accent;
    border: 1px solid $tech-accent;
    .registration-text-meta{
      color: white;
    }
  }
}

/*Tag Styling*/

.tag-section{
  margin-top: 10px;
  margin-bottom: 20px;
}

.tag-container{
  padding: 3px 5px 3px 5px;
  border: 1px solid $tech-black;
  display: inline-block;
  margin-bottom: 5px;
  font-style: none;
  background-color: white;
  transition: background-color 0.2s linear;
  .tag-text{
    font-size: 14px;
    margin-bottom: 0;
    color: black;
    font-weight: 400;
    transition: color 0.2s linear;
    background-color: transparent;
  }
  a.tag-link{
    color: $tech-black;
    transition: color 0.2s linear;
    background-color: transparent;
  }
}

.tag-container:hover{
  background-color: $tech-black;
  transition: background-color 0.2s linear;
  .tag-text{
    color: white;
    background-color: transparent;
    transition: color 0.2s linear;
  }
}


a.tag-link {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

.webdev:hover{
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

.rendering:hover{
  background-color: tomato;
  border: 1px solid tomato;
}

/*Tag Styling Ended*/

iframe{
  height: 500px;
  width: 100%;
}

.highlight{
  border-radius: 5px;
  pre{
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: #f8f8f2;
//    white-space: pre-wrap;
    code{
      background-color: transparent;
      pre{
        padding: 0px;
        padding-left: 20px;
      }
    }
    .lineno{
      padding: 0px;
      color: #aaaaaa;
    }
//    td{
//      vertical-align: top;
//    }
  }
}

.highlight-link{
  background-color: $tech-accent;
}

.highlight-link:hover{
  background-color: lighten($tech-accent, 10%);  
  color: $tech-black;
}

.menu-icon{
  margin-bottom: 8px;
}

ul{
  font-size: 18px;
}

.datetime{
  font-weight: 300;
  font-size: 10px;
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.error-404 {
  font-size: 140px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0px;
}

.error-text{
  font-size: 80px;
  border-bottom: none;
  color: #B3B3B3;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Foundation Override*/
.columns:last-child:not(:first-child){
  float: left;
}
/*Foundation Override Ended*/


/*Footer Styling*/
footer{
  background-color: $slightly-grey;
  color: #b5b5b5;

  .footerLeft{
    line-height: 45px;
  }

  .footerRight{
    line-height: 45px;
  }

  div.medium-4.columns.footerRight{
    text-align:right;
  }

  .footerCenter{
    text-align: center;
  }

  .rehanLogo{
    height: 18px;
  }
  .soaLogo{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cmuLogo{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-footer{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*Footer Styling Ended*/


/*measurements pulled from foundation css file*/
/*Mobile Friendly Styling*/
@media screen and (max-width: 40em) {

  header{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    .site-nav{
      background-color: $slightly-grey;
    }
  }

  .footerLeft, footer{
    text-align: center;
  }
  footer{
    div.medium-4.columns.footerRight{
      text-align: center;
    }
  }

  .footerCenter{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  iframe{
    height: 220px;
  }
  .error-404{
    font-size: 100px;
  }
  .error-text{
    margin-top: 10px;
    font-size: 50px;
    line-height: 1.3;
  }
}
/*Mobile Friendly Styling Ended*/


/*Tablet Friendly Styling*/
@media screen and (max-width: 64em) {

  iframe{
    height: 360px;
  }
  .thumbnail-image {
    opacity: 1;
  }
  .thumbnail-text {
    font-size:14px !important; 
    opacity: 1;
    z-index: 100;
    line-height: 1.3;
  }
  .thumbnail-container:hover .thumbnail-image {
    opacity: 0.25;
  }

}
/*Tablet Friendly Styling Ended*/