---

---

$tech-black: #252525;
$slightly-grey: #f2f2f2;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

html, body, h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  color: $tech-black;
}

.page-content{
  margin-left: 10px;
  margin-right: 10px;
}

.section-heading{
  font-size: 32px;
  font-weight: $bold;
  border-bottom: 3px solid $tech-black;
  margin-bottom: 20px;
}

header{
  
  margin-top: 30px;
  margin-bottom: 10px;
  
  .site-title{
    font-size: 48px;
    font-weight: $bold;
  }
  
  .nav{
    font-size: 20px;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .nav-item{
    color: $tech-black;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-item:hover{
    background-color: $slightly-grey;  
  }
  
}

footer{
  background-color: $slightly-grey;
  color: #b5b5b5;
}

.footerLeft{
  line-height: 45px;
}

.footerRight{
  line-height: 45px;
}

div.medium-4.columns.footerRight{
  text-align:right;
}

.footerCenter{
  text-align: center;
}

.rehanLogo{
  height: 18px;
}
.soaLogo{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.cmuLogo{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.site-footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}