---
layout: page
title: Facilities
permalink: /facilities/
---

{% for facility in site.facilities %}
    <div class="small-12 medium-4 columns thumbnail-tile">
        <a class="post-link" href="{{ facility.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
            <img class="thumbnail-image" src="../img/thumbnails/{{ facility.thumbnail | prepend: site.baseurl }}">
            <span class="thumbnail-text">{{ facility.tile-name }}</span>
            <!--{% if post.banner %}
            <span class="banner">{{ post.banner }}</span>
            {% endif %}-->
            </div>
        </a>
    </div>
{% endfor %}
