---
layout: default
---

<div class="small-12 medium-4 large-4 columns">
  <p><b>tech.soa</b> is an ecosystem of architectural design technology resources offered to and by <a href="https://soa.cmu.edu/">CMU SoA (Carnegie Mellon University School of Architecture)</a> students, faculty, and staff.</p>
</div>

<div class="small-12 medium-4 large-4 columns"> 
  At this website you can:
  <ul>

    <li><a href="/workshops">Register for upcoming <b>Workshops</b>.</a></li>
    <li><a href="/contribute"><b>Contribute</b> your own content.</a></li>
    <li><a href="/facilities">Learn about the <b>Facilities</b>.</a></li>

  </ul>
</div>


<div class="small-12 medium-4 large-4 columns"> 
  Soon you will have access to:
  <ul>
    
    <li>Useful <b>Tutorials</b>.</li>
    <li>Repository of common <b>References</b>.</li>

  </ul>
</div>



<div class="small-12 medium-8 columns">
<!--
  <h1 class="section-heading"><a href="/workshops">Upcoming Workshops</a></h1>
  
   workshops ordered from future to past 
  {% assign workshop_order = site.workshops | sort:start-date %}
  
  {% for workshop in workshop_order limit:2 %}
  <div class="reference-container small-12 medium-6 columns">
    <p class="metadata">{{ workshop.details | truncate: 30 }}</p>
    <p class="reference-title">
      <a href="{{ workshop.url }}">{{ workshop.title }}</a>
      <a target="_blank" href="{{ workshop.registration }}">
        {% if workshop.registration %}
        <span class="registration-container">
          <span class="registration-text">Register</span>
        </span>
        {% endif %}
      </a>
    </p>
    
    <p class="datetime"><time datetime="{{ workshop.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">{{ workshop.start-date | date: "%b %-d, %Y %H:%M%P" }}</time> - <time datetime="{{ workshop.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">{{ workshop.end-date | date: "%b %-d, %Y %H:%M%P" }}</time></p>
    <p class="description">{{ workshop.content | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in workshop.tags %}
          <a href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}
-->
  
  
  <h1 class="section-heading"><a href="/tutorials">Tutorials</a></h1>
    
    {% assign tutorial_order = site.tutorials | sort:date | reverse %}
    {% for tutorial in tutorial_order limit: 12 %}
    <div class="small-12 medium-6 large-4 columns thumbnail-tile">
        <a class="" href="{{ tutorial.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
            <img class="thumbnail-image" src="img/thumbnails/{{ tutorial.thumbnail }}">
            <span class="thumbnail-text">{{ tutorial.tile-name }}</span>
            <!--{% if post.banner %}
            <span class="banner">{{ post.banner }}</span>
            {% endif %}-->
            </div>
        </a>
    </div>
    {% endfor %}
    <a href="/tutorials">Show More</a>
  
</div>

<div class="small-12 medium-4 columns">
  <h1 class="section-heading"><a href="/references">References</a></h1>
  
  {% for reference in site.references limit: 5 %}
  <div class="reference-container">
    <p class="metadata"><a target="_blank" href="{{ reference.link }}">{{ reference.link | truncate: 30 }}</a></p>
    <p class="reference-title"><a href="{{ reference.url }}">{{ reference.title }}</a></p>
    <p class="description">{{ reference.content | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in reference.tags %}
          <a href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}
  <a href="/references">Show More</a>
</div>

