---
layout: default
---

<div class="small-12 medium-8 columns">
  <h1 class="section-heading">Tutorials</h1>

    {% for tutorial in site.tutorials %}
    <div class="small-12 medium-4 columns thumbnail-tile">
        <a class="post-link" href="{{ tutorial.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
            <img class="thumbnail-image" src="img/thumbnails/{{ tutorial.thumbnail }}">
            <span class="thumbnail-text">{{ tutorial.tile-name }}</span>
            <!--{% if post.banner %}
            <span class="banner">{{ post.banner }}</span>
            {% endif %}-->
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="small-12 medium-4 columns">
  <h1 class="section-heading">Resources</h1>
</div>

