---
layout: default
---

<div class="small-12 medium-8 columns">
<!--
  <h1 class="section-heading"><a href="/workshops">Upcoming Workshops</a></h1>
  
   workshops ordered from future to past 
  {% assign workshop_order = site.workshops | sort:start-date %}
  
  {% for workshop in workshop_order limit:2 %}
  <div class="reference-container small-12 medium-6 columns">
    <p class="metadata">{{ workshop.details | truncate: 30 }}</p>
    <p class="reference-title">
      <a href="{{ workshop.url }}">{{ workshop.title }}</a>
      <a href="{{ workshop.registration }}">
        {% if workshop.registration %}
        <span class="registration-container">
          <span class="registration-text">Register</span>
        </span>
        {% endif %}
      </a>
    </p>
    
    <p class="datetime"><time datetime="{{ page.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">{{ workshop.start-date | date: "%b %-d, %Y %H:%M%P" }}</time> - <time datetime="{{ page.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">{{ workshop.end-date | date: "%b %-d, %Y %H:%M%P" }}</time></p>
    <p class="description">{{ workshop.content | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in workshop.tags %}
          <a href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}
-->
  
  
  <h1 class="section-heading"><a href="/tutorials">Tutorials</a></h1>

    {% for tutorial in site.tutorials limit: 12 %}
    <div class="small-12 medium-6 large-4 columns thumbnail-tile">
        <a class="post-link" href="{{ tutorial.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
            <img class="thumbnail-image" src="img/thumbnails/{{ tutorial.thumbnail }}">
            <span class="thumbnail-text">{{ tutorial.tile-name }}</span>
            <!--{% if post.banner %}
            <span class="banner">{{ post.banner }}</span>
            {% endif %}-->
            </div>
        </a>
    </div>
    {% endfor %}
    <a href="/tutorials">Show More</a>
  
</div>

<div class="small-12 medium-4 columns">
  <h1 class="section-heading"><a href="/references">References</a></h1>
  
  {% for reference in site.references limit: 5 %}
  <div class="reference-container">
    <p class="metadata"><a target="_blank" href="{{ reference.link }}">{{ reference.link | truncate: 30 }}</a></p>
    <p class="reference-title"><a href="{{ reference.url }}">{{ reference.title }}</a></p>
    <p class="description">{{ reference.content | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in reference.tags %}
          <a href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}
  <a href="/references">Show More</a>
</div>

