---
layout: default
permalink: /tags/
---

<h1 class="post-title">Tags</h1>

{% assign tags_tut =  site.tutorials | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_ref =  site.references | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_wor =  site.workshops | map: 'tags' | join: ','  | split: ',' | uniq %}

{% assign tags = site.emptyArray %}

{% for tag in tags_tut %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_ref %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_wor %}
  {% assign tags = tags | push: tag %}
{% endfor %}

<!-- Creates a single list of all tags to comapre againsts -->
{% assign tags = tags | sort | uniq %}

<div class="tag-section">
  {% for tag in tags %}
    <a class="tag-link" href="#{{ tag }}">
      <div class="tag-container {{ tag }}">
        <p class="tag-text">{{ tag }}</p>
      </div>
    </a>
  {% endfor %}
</div>


{% for tag in tags %}
  <div class="row">

    <a class="blackLink" name="{{ tag }}"><h3 class="section-heading">{{ tag }}</h3></a>

    {% for tutorials in site.tutorials %}
      {% if tutorials.tags contains tag %}
        <div class="small-12 medium-3 columns thumbnail-tile">
              <div class="thumbnail-container">
              <span class="thumbnail-text">{{ tutorials.tile-name }}</span>
              <img class="thumbnail-image" src="/img/thumbnails/{{ tutorials.thumbnail | prepend: site.baseurl }}">
              </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

    {% for reference in site.references %}
      {% if reference.tags contains tag %}
        <div class="small-12 medium-3 columns">
          <div class="reference-container">
            <p class="reference-title"><a class="blackLink" href="{{ reference.url }}">{{ reference.title }}</a></p>
            <p class="metadata"><a class="blackLink" target="_blank" href="{{ reference.link }}">{{ reference.link | truncate: 30 }}</a></p>
            <p class="description">{{ reference.content | truncate: 150 }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    {% for workshop in site.workshops %}
      {% if workshop.tags contains tag %}
        <div class="small-12 medium-3 columns">
          <div class="reference-container">
            <p class="reference-title">
              <a class="blackLink" href="{{ workshop.url }}">{{ workshop.title }}</a>
              <a class="blackLink" target="_blank" href="{{ workshop.registration }}">
                {% if workshop.registration %}
                <span class="registration-container">
                  <span class="registration-text">Register</span>
                </span>
                {% endif %}
              </a>
            </p>

            <p class="datetime">
              <time datetime="{{ workshop.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">
                {{ workshop.start-date | date: "%b %-d, %Y %I:%M%P" }}
              </time> 
              - 
              <time datetime="{{ workshop.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">
                {{ workshop.end-date | date: "%b %-d, %Y %I:%M%P" }}
              </time>
            </p>

            <div class="tag-section">
              {% for tag in workshop.tags %}
                <a class="tag-link" href="/tags/#{{ tag  | prepend: site.baseurl }}">
                  <div class="tag-container {{ tag }}">
                    <p class="tag-text">{{ tag }}</p>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
{% endfor %}
