---
layout: default
title: Tags
permalink: /tags/
---

{% assign tags_tut =  site.tutorials | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_ref =  site.references | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_wor =  site.workshops | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_sof =  site.softwares | map: 'tags' | join: ','  | split: ',' | uniq %}
{% assign tags_tp =  site.tips | map: 'tags' | join: ','  | split: ',' | uniq %}

{% assign tags = site.emptyArray %}

{% for tag in tags_tut %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_ref %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_wor %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_sof %}
  {% assign tags = tags | push: tag %}
{% endfor %}

{% for tag in tags_tp %}
  {% assign tags = tags | push: tag %}
{% endfor %}

<!-- Creates a single list of all tags to comapre againsts -->
{% assign tags = tags | sort | uniq %}

<div class="small-12 medium-3 columns tagsPageSection">
  <!-- <h3 class="tag-heading">All Tags</h3> -->
  <p>This page is an index of all content on tech.soa.</p>
  <p>Use the following tags to look for specific content on the site! </p>
</div>

<div class="small-12 medium-9 columns tagsPageSection">
  <div class="tag-section">
    {% for tag in tags %}
      <a class="tag-link" href="#{{ tag }}">
        <div class="tag-container {{ tag }}">
          <p class="tag-text">{{ tag }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="small-12 columns line">
</div>

<!-- index section start -->

<!-- title -->
{% for tag in tags %}
<div class="small-12 columns tagsPageTitle">
  <a class="blackLink" name="{{ tag }}"><h3 class="tag-heading">{{ tag }}</h3></a>
</div>

<!-- for softwares -->
<div class="small-12 columns ">
{% for softwares in site.softwares %}
  {% if softwares.tags contains tag %}
  <div class="small-12 medium-2 columns thumbnail-tile tagsPageSoftwares ">
    <a class="post-link blackLink" alt="{{ softwares.tile-name }}"title="{{ softwares.tile-name }}" href="{{ softwares.url | prepend: site.baseurl }}">
      <div class="thumbnail-container">
        <span class="thumbnail-text">{{ softwares.tile-name }}</span>
        <img class="thumbnail-image" src="/img/thumbnails/{{ softwares.thumbnail | prepend: site.baseurl }}">
      </div>
    </a>
  </div>
  {% endif %}
{% endfor %}
</div>

<!-- for posted tips -->
<div class="small-12 columns ">
{% for tip in site.tips %}
  {% if tip.tags contains tag %}
  <div class="small-12 medium-4 columns tag-item-max-height"> 
    <div class="reference-container">
      <p class="reference-title"><a alt="{{ tip.title }}" title="{{ tip.title }}" class="blackLink" href="{{ tip.url }}">Tip: {{ tip.title }}</a></p>
      <p class="metadata">Author: {{ tip.author }}</p>
      <p class="description">{{ tip.content | truncate: 250 }}</p>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>

<!-- for tutorials -->
<div class="small-12 columns ">
{% for tutorials in site.tutorials %}
  {% if tutorials.tags contains tag %}
  <div class="">
    <a class="post-link blackLink" href="{{ tutorials.url | prepend: site.baseurl }}">
      <div class="small-12 medium-4 columns thumbnail-tile tagsPageSection">
        <div class="thumbnail-container">
          <span class="thumbnail-text">{{ tutorials.tile-name }}</span>
          <img class="thumbnail-image" src="/img/thumbnails/{{ tutorials.thumbnail | prepend: site.baseurl }}">
        </div>
      </div>
    </a>
  </div>
  {% endif %}
{% endfor %}
</div>

<!-- for references -->
<div class="small-12 columns ">
{% for reference in site.references %}
  {% if reference.tags contains tag %}
    <div class="small-12 medium-4 columns tag-item-max-height">
      <div class="reference-container">
        <p class="reference-title"><a class="blackLink" alt="{{ reference.title }}" title="{{ reference.title }}" href="{{ reference.url }}">Reference: {{ reference.title | truncate: 25 }}</a></p>
        <p class="metadata"><a class="blackLink" alt="{{ reference.link }}" title="{{ reference.link }}" target="_blank" href="{{ reference.link }}">{{ reference.link | truncate: 50 }}</a></p>
        <p class="description">{{ reference.content | truncate: 300 }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>

<!-- for workshops -->
<div class="small-12 columns ">
{% for workshop in site.workshops %}
  {% if workshop.tags contains tag %}
    <div class="small-12 medium-4 columns tag-item-max-height">
      <div class="reference-container">
        <p class="reference-title">
          <a class="blackLink" alt="{{ workshop.title }}" title="{{ workshop.title }}" href="{{ workshop.url }}">Workshop: {{ workshop.title | truncate: 25 }}</a>
        </p>

        <p class="datetime">
          <time datetime="{{ workshop.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">
            {{ workshop.start-date | date: "%b %-d, %Y %I:%M%P" }}
          </time> 
          - 
          <time datetime="{{ workshop.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">
            {{ workshop.end-date | date: "%b %-d, %Y %I:%M%P" }}
          </time>
        </p>
        <p class="description">Instructor: {{ workshop.instructor }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>

<div class="small-12 columns line">
</div>

{% endfor %}


<!-- index section end -->