---
layout: page
title: Workshops
permalink: /workshops/
---

{% for workshop in site.workshops %}
  <div class="reference-container small-12 medium-6 columns">
<!--    <p class="metadata">{{ workshop.details | truncate: 30 }}</p>-->
    <p class="reference-title">
      <a href="{{ workshop.url }}">{{ workshop.title }}</a>
      <a target="_blank" href="{{ workshop.registration }}">
        {% if workshop.registration %}
        <span class="registration-container">
          <span class="registration-text">Register</span>
        </span>
        {% endif %}
      </a>
    </p>
    
    <p class="datetime"><time datetime="{{ page.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">{{ workshop.start-date | date: "%b %-d, %Y %H:%M%P" }}</time> - <time datetime="{{ page.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">{{ workshop.end-date | date: "%b %-d, %Y %H:%M%P" }}</time></p>
    {% if workshop.location %}
    <p class="where-who">{{ workshop.location }} | {{ workshop.instructor }}</p>
    {% endif %}
    <p class="description">{{ workshop.details | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in workshop.tags %}
          <a href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}