---
layout: page
title: Workshops
permalink: /workshops/
---

<div class="reference-container"> 
  <h4>Important Notes</h4>
  <ul>
    <li>Complete <a class="blackLink" href="https://goo.gl/forms/VXWJe9xYqwTRoQS42"><b class="highlight-link">this survey</b></a> before registering.<br></li>
    <li>For <div class="tag-container"><p class="tag-text">Digital Representation</p></div> and <div class="tag-container"><p class="tag-text">Computation</p></div> workshops, you must bring your own laptop with the necessary software installed.</li>
    <li><div class="tag-container"><p class="tag-text">Digital Fabrication</p></div> workshops are limited to 15 students per session.</li>
  </ul>
</div>
  
{% for workshop in site.workshops %}
  <div class="reference-container small-12 medium-6 columns">

    <p class="reference-title">
      <a class="blackLink" href="{{ workshop.url }}">{{ workshop.title }}</a>
      <a class="blackLink" target="_blank" href="{{ workshop.registration }}">
        {% if workshop.registration %}
        <span class="registration-container">
          <span class="registration-text">Register</span>
        </span>
        {% endif %}
      </a>
    </p>
    
    <p class="datetime"><time datetime="{{ workshop.start-date | date_to_xmlschema }}" itemprop="dateTimeStart">{{ workshop.start-date | date: "%A, %b %-d %Y %I:%M%P" }}</time> - <time datetime="{{ workshop.end-date | date_to_xmlschema }}" itemprop="dateTimeEnd">{{ workshop.end-date | date: "%I:%M%P" }}</time></p>
    {% if workshop.location %}
    <p class="where-who">Location: {{ workshop.location }}</p>
    {% endif %}
    <p class="description">{{ workshop.details | truncate: 150 }}</p>
    
      <div class="tag-section">
        {% for tag in workshop.tags %}
          <a class="tag-link" href="/tags/#{{ tag  | prepend: site.baseurl }}">
            <div class="tag-container {{ tag }}">
              <p class="tag-text">{{ tag }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
  {% endfor %}